body{
    margin:0;
    background:white;
    align-items:center;
    justify-content:center;
    overflow:hidden;
}
.banner{
    background:#009579;
}
.banner__content{
    padding: 16px;
    max-width: 1000px;
    margin:0 auto;
    text-align:center;
    align-items:center
}
.banner__text{
    font-family:'Quicksand' sans-serif;
}

.exhibit{
    background:black;
    max-width:400px;
    overflow:hidden;
    border-radius: 10px;
    height:500px;
    margin-left:580px;
    margin-top:70px;
    
}
.heading{
    text-align:center;
    color:#009579;
    
    
}
    



    









